/* ПАРАГРАФИ Основний колір тексту #757575 */
/* ЗАГОЛОВКИ Додатковий колір тексту #212121 */
/* Блакитний Акцент #2196F3 */
/* Білий #FFFFFF */
/* Білий з прозорістю rgba(255, 255, 255, 0.6); */
/* Фон основний #FFFFFF */
/* Фон додатковий #F5F4FA */
/* Фон футер #2F303A*/
/* Іконки #afb1b8 */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;

    --primary-background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --accent-background-color: #2F303A;

    --primary-white-color: #ffffff;
    --card-set-gap: 30px;
    --icon-color: #afb1b8;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color); 

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* ---------------------------------RESET----------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

/*----------------------------------BUTTONS------------------------------------*/
.button {
    border: 1px solid transparent;
    border-radius: 4px;
}

.button.primary {
    min-width: 216px;
    height: 50px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
}

.button.secondary {
    padding: 6px 22px;
    
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------------CONTAINER------------------------------------*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

/* --------------------------------- HEADER ------------------------------- */
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

/******************** ЛОГОТИП ********************/
.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.header-logo {
    margin-right: 93px;
}

.logo-accent {
    color: var(--accent-color);
}

/******************* НАВІГАЦІЯ ********************/
.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-list .link:hover, 
.nav-list .link:focus {
    color: var(--accent-color);
}

.nav-list .link.current {
    position: relative;
    color: var(--accent-color);
}

.nav-item .current::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/******************** CONTACTS *****************/
.contacts-list {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    

    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-link-icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color:var(--accent-color)
}

.contacts-link:hover .contacts-link-icon,
.contacts-link:focus .contacts-link-icon{
    fill: var(--accent-color);
}

/*---------------------------------- HERO --------------------------------*/
.hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    background-color: #C4C4C4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/Hero.jpg);
}

.hero-title {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*-------------------------------СЕКЦІЇ----------------------------------*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*-------------------------------ПЕРЕВАГИ------------------------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-bottom: 0; 
}

.features-list {
    display: flex;
    gap: var(--card-set-gap);
}

.feature-item {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
}

.feature-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: var(--secondary-background-color);
}

.feature-icon {
    width: 70px;
    height: 70px;
}

.features-item-title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    line-height: 1.71;
}

/*-----------------------------НАПРЯМКИ РОБОТИ--------------------------- */
.directions-list {
    display: flex;
    gap: var(--card-set-gap);
}

.directions-link {
    position: relative;
    text-decoration: none;
}

.directions-label {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
}

.directions-link-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*-------------------------------НАША КОМАНДА--------------------------- */
.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    display: flex;
    gap: var(--card-set-gap);

    font-size: 16px;
    line-height: 1.12;
}

.team-list-item {
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);

    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-description {
    padding: 30px 0;
    text-align: center;
}

.team-item-title {
    margin-bottom: 10px;
    
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
}

.team-text {
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-item {
    width: 44px;
    height: 44px;
}

.team-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
}

.team-soc-icon {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: var(--primary-white-color);
}

/*-------------------------------КЛІЄНТИ-------------------------------*/
.clients-list {
    display: flex;
    gap: var(--card-set-gap);
}

.clients-item {
    flex-basis: calc((100% - 5 * var(--card-set-gap)) / 6);
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}

/*-------------------------------ПОРТФОЛІО-------------------------------*/
.filter-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-set-gap);
}

.portfolio-item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
    background-color: var(--primary-background-color);
}

.portfolio-link {
    display: inline-block;
    text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.portfolio-discription {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.portfolio-item-title {
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/*----------------------------------ФУТЕР--------------------------------*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--accent-background-color);
    color: var(--primary-white-color); 
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    
    color: var(--primary-white-color);
}

.footer-contacts-list {
    line-height: 1.71;
}

.footer-contacts-list .link {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-contacts-list .link:hover,
.footer-contacts-list .link:focus {
    color: var(--accent-color);
}

.footer-socials {
    margin-left: 70px;
}

.footer-socials-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-socials-item {
    width: 44px;
    height: 44px;
}

.footer-socials-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-icon {
    fill: var(--primary-white-color);
    width: 20px;
    height: 20px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--accent-color);
}

/*----------------------------------MODAL--------------------------------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 581px;
    width: 528px;

    border-radius: 4px;
    background-color: var(--primary-background-color);
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    margin-bottom: auto;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-icon {
    fill: #000000;
}